@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



a:hover {
    color: red;
    text-decoration: underline;
}

header {
    height: 102px;
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 10px;
    font-variant: small-caps;
}

header a, footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
header > p {
    margin-top: 10px;
}
section {
    
    padding: 10px;
}


section h2 {
    padding: 10px;
}

section p {
    line-height: 1.9em;
    font-family: cursive;
    font-size: 2em;
    margin-bottom: 25px;
}

section a {
    font-size: 1.8em;
    padding: 6px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-image: linear-gradient(to right, darkgray, gray, lightgray);
    text-decoration: none;
    font-weight: bolder;
    color:purple;
}

section#img1 {
    background: black url('../imagens/menino-livro-grande.jpg') center center fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 11px 2px black;
    height: 638px;
}

section#img2 {
    background: black url('../imagens/menino-peixe-grande.png') center center fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 11px 2px black;
    height: 638px;
}

section#relativo1 {
    position: relative;
}

section#relativo2 {
    position: relative;
}

section#relativo3 {
    position: relative;
}

section.img3 {
    width: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-13%, -50%);
}

section.img3 > div {
    border: 1px solid black;
    width: 500px;
    height: 400px;
    background-color: yellow;
}

section.img4 {
   
    width: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(12%, -69%)
}

section.img4 > div {
    border: 1px solid black;
    width: 500px;
    height: 530px;
    background-color: mediumspringgreen;
}

section.img5 > div {
    border: 1px solid black;
    width: 520px;
    height: 500px;
    background-color: rgb(127, 255, 212);
}


section.img5  {
    width: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%)
}
 
footer {
    background-color: black;
    color: white;
    height: 30px;
    padding: 10px;
    text-align: center;
}

footer p {
    margin-top: 10px;
}

